cluster_conf:
  attributes:
    availability: ON_DEMAND
    first_on_demand: '1'
  autotermination_minutes: '180'
  cluster_name: Lab-Cluster-xxxxxx
  custom_tags:
    ResourceClass: SingleNode
  data_security_mode: SINGLE_USER
  driver_node_type_id: i3.xlarge
  enable_elastic_disk: TODO
  enable_local_disk_encryption: TODO
  node_type_id: i3.xlarge
  num_workers: '0'
  runtime_engine: PHOTON
  spark_conf:
    spark.databricks.cluster.profile: singleNode
    spark.master: local[*,4]
  spark_version: 12.2.x-scala2.12
sqlwarehouse_conf:
  auto_stop_mins: '20'
  channel: CHANNEL_NAME_CURRENT
  cluster_size: XXSMALL
  enable_photon: 'true'
  enable_serverless_compute: 'true'
  max_num_clusters: '20'
  min_num_clusters: '1'
  name: DBAcademy Warehouse
  spot_instance_policy: COST_OPTIMIZED
  warehouse_type: Serverless
workspace:
  allow_dlt_cluster_creation_by_user: Disabled
  cloud_platform: AWS
  cluster_type: Dedicated
  name: Advanced Data Engineering with Databricks - AWS
  notebook_path: /Users/odl_user_xxxxxx@databrickslabs.com/advanced-data-engineering-with-databricks/
  ntoebook_url: https://labs.training.databricks.com/api/v1/courses/download.dbc?course=advanced-data-engineering-with-databricks&token=CL-6f0ae7f2-4de6-48bc-a9e5-9c094cb7e9f4
  serverless_sqlwarehouse: Enabled
  sqlwarehouse_type: Shared
  unity_catalog: Enabled
  workspace_type: Shared
